#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    background-color: rgba(217, 200, 233, 0.377);
    text-align: center;
    border: 2px solid #000;
    margin: 20px auto;
}
#forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    gap: 10px;
    height: 100vh;
    padding: 100px;
}

#sform {
    border: 2px black solid;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 40vh;    
    background-color: lightpink; /* Optional: Add background color */

}

#vForm {
     
    border: 2px rgb(241, 39, 39) solid;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    width: 40vh; 
    padding: 20px;  
    
    margin: 20px 40px 30px;
    background-color: rgb(182, 255, 186); /* Optional: Add background color */
/* Optional: Add background color */
}
#vForm  button  {
    margin-left: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
 
#validationForm label  {
   
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px;
    gap: 20px;
}